<title>Mostrar <%=@car.placa%> </title>

<h1 class="h1-id">Carro Registrado N° <%=@car.id%></h1>
<div>
	<table class="table-id">
		<tr>
			<td><b>Placa: </b></td>
			<td><%=@car.placa%></td>
		</tr>
		<tr>
			<td><b>Modelo: </b></td>
			<td><%=@car.modelo%></td>
		</tr>
		<tr>
			<td><b>Color: </b></td>
			<td><%=@car.color%></td>
		</tr>
		<tr id="borde">
			<td colspan="2" id="boton">
					<%= link_to 'Ir a lista', cars_path, class: "btn btn-primary", id: "boton-show" %>
			</td>
		</tr>
	</table>
</div>