<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Show</title>
</head>
<body>
	<h1 class="h1-id">Carro Registrado N° <%=@car.id%></h1>
	<div>
		<table class="table-id">
			<tr>
				<td><b>Placa: </b></td>
				<td><%=@car.placa%></td>
			</tr>
			<tr>
				<td><b>Modelo: </b></td>
				<td><%=@car.modelo%></td>
			</tr>
			<tr>
				<td><b>Color: </b></td>
				<td><%=@car.color%></td>
			</tr>
		</table>
		<div class="btn-group">
			<button type="button" class="btn-success">
				<%= link_to 'Ir a lista', cars_path(@car) %>
			</button>
		</div>
	</div>
	<br>
</body>
</html>